@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Education Portal</h1>
    <h3>You are already registered ?</h3>
    <button><a href="Curses.cshtml">Yes</a></button>
    <button><a href="Contact.cshtml">No</a></button>
</div>

<div class="row">

</div>